h2{
    color: royalblue;
}

h1{
    color: purple;
}

p{
    font-size: 100px;
    font-weight: bold;
    background-color: greenyellow;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}