/* Va con almohadilla por que es el id */
/* #nombre{
    color: blue;
}*/
.titulo{
    color: pink !important;
}
.titulo{
    color: palegoldenrod !important;
}
.titulo.grande{
    color: aquamarine;
}
.parrafo{
    font-size: 18px;
    color: purple;
}
